*.o
*.a
*.cmx
*.cmxa
*.cmo
*.cmi
*.cma
*.lp
*.lpo
*~
*/memprof/
*.aux
*.bbl
*.blg
*.orig
*.log
**/.tmp/*
perf*data*
*.swp
*.exe
gmon.out
*.thc
*.out
papers/LPAR2015/*.pdf
papers/LPAR2015/*.zip
elpi/elpi
elpi/elpi.trace
elpi/elpi.git.*
elpi/bench/data.csv*
elpi/trace_ppx
elpi/META.elpi
elpi/.depends
elpi/.depends.parser
elpi/matita/Makefile.defs
elpi/matita/autom4te.cache/
elpi/matita/components/METAS/META.helm-content
elpi/matita/components/METAS/META.helm-content_pres
elpi/matita/components/METAS/META.helm-disambiguation
elpi/matita/components/METAS/META.helm-extlib
elpi/matita/components/METAS/META.helm-getter
elpi/matita/components/METAS/META.helm-grafite
elpi/matita/components/METAS/META.helm-grafite_engine
elpi/matita/components/METAS/META.helm-grafite_parser
elpi/matita/components/METAS/META.helm-library
elpi/matita/components/METAS/META.helm-logger
elpi/matita/components/METAS/META.helm-ng_cic_content
elpi/matita/components/METAS/META.helm-ng_disambiguation
elpi/matita/components/METAS/META.helm-ng_extraction
elpi/matita/components/METAS/META.helm-ng_kernel
elpi/matita/components/METAS/META.helm-ng_library
elpi/matita/components/METAS/META.helm-ng_paramodulation
elpi/matita/components/METAS/META.helm-ng_refiner
elpi/matita/components/METAS/META.helm-ng_tactics
elpi/matita/components/METAS/META.helm-registry
elpi/matita/components/METAS/META.helm-syntax_extensions
elpi/matita/components/METAS/META.helm-thread
elpi/matita/components/METAS/META.helm-xml
elpi/matita/components/extlib/componentsConf.ml
elpi/matita/config.status
elpi/matita/configure
elpi/matita/matita/buildTimeConf.ml
elpi/matita/matita/help/C/version.txt
elpi/matita/matita/matita.conf.xml
elpi/matita/depend-stamp
elpi/matita/matita/matitaGeneratedGui.ml
elpi/matita/matita/matita.opt
elpi/matita/matita/matitac.opt
elpi/matita/matita/matitaclean.opt
elpi/matita/matita/matita
elpi/matita/matita/matitac
elpi/matita/matita/matitaclean
papers/DALEFEST/dalefest.pdf
